<center><b>UNIVERSIDADE FEDERAL RURAL DO SEMI-ÁRIDO</b> </center>
<center><b>Inteligência Artificial</b></center>


<h3><center>Implementação de algoritmos de aprendizado de máquina para análise de
padrões em ações do mercado Financeiro</center></h3>


<div style="text-align: right;">Anderson Carlos da Silva Morais</div>
<div style="text-align: right;">Anderson Matheus Melo da Silva</div>



<center><b>Proposta</b></center>
<b>Introdução:</b> Nos últimos anos, temos presenciado a popularização e disseminação da inteligência
artificial e dos algoritmos de aprendizado de máquina em várias áreas. Um campo que tem se
beneficiado dessas tecnologias é o mercado financeiro, onde o uso desses algoritmos para análise de
ações tem se tornado uma prática comum. No entanto, é importante destacar que a promessa de
retornos financeiros milagrosos e a venda de produtos e softwares enganosos têm gerado
desconfiança nesse cenário.

<b>Objetivo:</b> O objetivo deste projeto é explorar o uso de algoritmos de aprendizado de máquina para
análise de padrões no mercado financeiro de forma ética e didática. O projeto busca fornecer um
ambiente de estudo no qual será possível entender e aplicar diferentes algoritmos de ML em um
contexto real, utilizando um conjunto de dados definido de ações.
Metodologia:
1. <b>Coleta de Dados:</b> Será realizado um levantamento de dados históricos de ações de
empresas, utilizando fontes confiáveis e de acesso público. Os dados incluirão informações
como preço de abertura, preço de fechamento, volume de negociação, entre outros
indicadores relevantes.
2. <b>Pré-processamento dos Dados:</b> Os dados coletados passarão por um processo de limpeza e
transformação, a fim de remover ruídos e garantir a qualidade dos dados. Serão aplicadas
técnicas de normalização e tratamento de valores ausentes, quando necessário.
3. <b>Exploração de Algoritmos de Aprendizado de Máquina:</b> Serão utilizados diferentes
algoritmos de aprendizado de máquina, como regressão linear, árvores de decisão, redes
neurais, entre outros, para analisar os dados coletados. Cada algoritmo será aplicado e
avaliado em termos de desempenho na identificação de padrões relevantes no mercado
financeiro.
4. <b>Avaliação e Interpretação dos Resultados:</b> Os resultados obtidos serão analisados e
interpretados de forma a identificar padrões e tendências no mercado financeiro. Serão
realizadas métricas de desempenho para avaliar a eficácia dos algoritmos utilizados. É
importante ressaltar que este projeto não tem como objetivo fornecer recomendações de
compra ou venda de ações, mas sim estudar os conceitos de ML em um contexto real.

<b>Justificativa:</b> Este projeto visa explorar o uso de algoritmos de aprendizado de máquina para análise
de padrões no mercado financeiro. A proposta é utilizar um conjunto de dados definido de ações
para aplicar diferentes algoritmos e entender seu desempenho na identificação de padrões
relevantes. Ao final do projeto, espera-se obter um maior entendimento sobre o uso de ML no
mercado financeiro, contribuindo para o avanço do conhecimento nessa área.

<b>Observação:</b> É importante ressaltar que este projeto destina-se apenas ao estudo e compreensão dos
conceitos de aprendizado de máquina em um contexto real. Não deve ser interpretado como
recomendação de compra ou venda de ações. Sempre consulte profissionais especializados antes de
tomar decisões financeiras.

# Etapa 1: Coleta de Dados

In [1]:
# Realizando as importações das bibliotecas necessárias
import pandas as pd # tratamento de dados
import numpy as np # tratamento de dados
import cfscrape # Requisição na raspagem de dados
from bs4 import BeautifulSoup as bs # Filtro e modificação na raspagem de dados
import unidecode # tratamento de Strings
import datetime # Exportar os dados com os tratamentos

A fonte de dados abordada para o projeto serão as disponíveis no site [Fundamentus](https://www.fundamentus.com.br/fii_resultado.php), contudo será apresentado outros links de sites que podem ser usados por futuros projetos.

In [14]:
# Usando da biblioteca cfscrape para obter uma requisição do site escolhido

# cabeçalhos para acesso
headers ={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36"}

# url do site escolhido
url = "https://www.fundamentus.com.br/resultado.php"

# ferramentas de scrap para obter a requisição
scraper = cfscrape.create_scraper()
response = scraper.get(url)

In [15]:
# Printando a resposta da requisição HTTP, caso 200 é que tudo deu certo
print(response)

<Response [200]>

In [19]:
# Acessando o conteúdo HTML da resposta da requisição com formatação html esparço, mais fácil de se trabalhar
soup = bs(response.content, "html.parser")

# Para visualizar o HTML do site basta tirar o ; do recurso abaixo
soup.content

In [23]:
# Filtrando o HTML para apenas a tabela de ações
n = soup.find("table")

In [30]:
type(n)

bs4.element.Tag

In [20]:
# Lendo a tabela em HTML como um dataframe do Pandas

# O código gera uma lista de dataframes do código HTML, como o código já foi filtrado, só apresenta um dataframe,
# basta indicar o índice para acessá-lo diretamente, atribuindo a variável que representará o dataset
dt= pd.read_html(response.content)[0]
dt

## Maneira alternativa de acessar a lista de dataframes ##

# gerando a lista de dataframes
# dt= pd.read_html(response.content)
# Acessando o dataframe
# dt[0]

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
0,PMET3,000,000,000,0000,"0,00%",0,000,000,000,...,000,"0,00%","0,00%",0,"0,00%","4,10%",000,"-290.863.000,00",000,"37,74%"
1,IVTT3,000,000,000,0000,"0,00%",0,000,000,000,...,000,"0,00%","0,00%",0,"0,00%","-0,40%",000,"1.083.050.000,00",000,"20,67%"
2,PORP4,240,000,000,0000,"0,00%",0,000,000,000,...,000,"0,00%","0,00%",0,"0,00%","-2,08%",000,"22.399.000,00",000,"13,66%"
3,MNSA4,047,000,000,0000,"0,00%",0,000,000,000,...,000,"-208,15%","-362,66%",363,"-13,50%","145,70%",000,"-9.105.000,00",-652,"-41,11%"
4,MNSA3,042,000,000,0000,"0,00%",0,000,000,000,...,000,"-208,15%","-362,66%",363,"-13,50%","145,70%",000,"-9.105.000,00",-652,"-41,11%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,UBBR11,1475,"1.201,81",391,0000,"0,00%",0,000,000,000,...,000,"0,00%","0,00%",0,"0,00%","0,33%",000,"10.317.200.000,00",000,"10,58%"
983,UBBR3,1800,"1.466,61",477,0000,"0,00%",0,000,000,000,...,000,"0,00%","0,00%",0,"0,00%","0,33%",000,"10.317.200.000,00",000,"10,58%"
984,DOHL4,544,"2.524,59",058,0632,"0,00%",418,091,-4490,159,...,4422,"-1,41%","0,03%",664,"-1,06%","0,02%","28.480,70","712.035.000,00",017,"10,08%"
985,DOHL3,1000,"4.640,80",106,1162,"0,00%",768,167,-8254,292,...,7923,"-1,41%","0,03%",664,"-1,06%","0,02%",000,"712.035.000,00",017,"10,08%"
986,MEGA3,1062,"7.549,55",131,2660,"0,00%",393,-1912,1181,-071,...,1450,"22,53%","0,16%",88,"3,63%","0,02%","10.731.100,00","5.066.810.000,00",171,"0,00%"

# Etapa 2: Pré-processamento dos Dados

Para evitar o tempo gasto na coleta de dados caso os dados sofram uma formatação errada, vamos trabalhar com uma cópia do dataset Original.

In [ ]:
# Criando um cópia do dataset original para o tratamento de dados
dt_test = dt.copy()

In [ ]:
# Avaliando os dados do Dataframe para identificar as limpezas necessárias
dt_test.info()

In [ ]:
# Visualizando o nome das colunas
dt_test.columns

**Obs:** As colunas possuem nomes com caracteres inválidos e que dificultam o trabalho, sendo necessário modifica-las

In [ ]:
# Salvando os antigos nomes das colunas para um possível uso futuro
colunas_antigas = dt_test.columns

# Modificando os nomes das colunas para um padrão usual
colunas = []
for nome in dt_test.columns:
    text = nome.strip().replace(' ','_').lower().replace('/','_sobre_') # múltiplos tratamentos de strings
    text = unidecode.unidecode(text) # remove assentos 
    colunas.append(text)
    
colunas

In [ ]:
# Atribuindo os novos nomes as colunas
dt_test.columns = colunas

In [ ]:
# Visualizando a modificação
dt_test.head(3)

**Obs:** os dados numéricos estão separados por casas decimais, precisando de um tratamento para removê-las

In [ ]:
# Removendo a pontuação dos dados no Dataset
# Os códigos a partir deste ponto devesse tomar cuidado para não rodar mais de uma vez, caso contrário gera um erro.
dt_test = dt_test.apply(lambda x: x.str.replace(".",'', regex=True) if x.dtype=="object" else x)

# Não funciona
# dt_test.replace(',','.', regex=True, inplace=True)

In [ ]:
# Visualizando o dataset para verificar se o tratamento foi feito corretamente
# A coluna de cotacao irá precisar de um tratamento especial que será executado mais na frente
dt_test

**Obs:** os valores numéricos no python usam o ponto como caractere de separação decimal, a próxima mudança será substituir a vírgula por ponto.

In [ ]:
# Substituindo a vígula por ponto no dataset
dt_test.replace(',','.', regex=True, inplace=True)

## Outra forma de fazer ##
#dt_test = dt_test.apply(lambda x: x.str.replace(",",".") if x.dtype=="object" else x)

In [ ]:
# Visualizando o dataset para verificar se o tratamento foi feito corretamente
dt_test

In [ ]:
# Visualizando os tipos de cada coluna do dataset
dt_test.info()

**Obs:** realizando a tipagem correta das colunas

In [ ]:
# Colunas numéricas
colunas_numericas = ["p_sobre_vp",
                    "valor_de_mercado",
                    "liquidez",
                    "qtd_de_imoveis",
                    "preco_do_m2",
                    "aluguel_por_m2"]  
for coluna in colunas_numericas:
    dt_test[coluna] = dt_test[coluna].astype(float) # Modificando o tipo da coluna


# Colunas percentuais
colunas_percentuais = ["ffo_yield",
                      "dividend_yield",
                      "cap_rate",
                      "vacancia_media"]

for coluna in colunas_percentuais:
    dt_test[coluna] = dt_test[coluna].str.replace("%","", regex=True).astype(float) # Removendo o % e transformando em número
    dt_test[coluna] = dt_test[coluna].apply(lambda x: x/100) # passando a porcentagem para a forma fracionária

In [ ]:
# Visualizando o dataset para verificar se o tratamento foi feito corretamente
dt_test

In [ ]:
# Visualizando os tipos de cada coluna do dataset
dt_test.info()

In [ ]:
# Modificando uma configuração do pandas para melhorar a visualização de valores muito grandes
pd.set_option('display.float_format', '{:.2f}'.format)

In [ ]:
# Visualizando o dataset para verificar se o tratamento foi feito corretamente
dt_test

**Obs:** agora tratando os casos especiais, ou seja, valores do tipo NaN que como estão na coluna textual podemos substituir por Desconhecido e a Coluna cotação que exigem um tratamento especifíco

In [ ]:
# Tratando os dados do tipo NaN para um valor conhecido
dt_test.segmento = dt_test.segmento.fillna('Desconhecido')

In [ ]:
# Tratando a coluna de cotação

# Quando foi feita a raspagem de dados alguns valores perderam seu separador de casa decimal e outros não
# Removendo os pontos para o tratamento geral
dt_test.cotacao = dt_test.cotacao.str.replace(".","", regex=True)

# Sabemos que todos os preços possuem duas casas décimais, logo, podemos fazer o tratamento tendo isso em mente
dt_test.cotacao = dt_test.cotacao.astype(float).apply(lambda x: x/100) # Divindindo todos os valores por 100, garantido duas casas decimais e modificando o tipo para numérico

In [ ]:
dt_test# Visualizando o dataset para verificar se o tratamento foi feito corretamente
dt_test

Como os dados variam diariamente é preciso achar uma forma coerente de salvá-los

In [ ]:
# Resgatando a data do sistema para salvar com sua data respectiva de tratamento


dia_de_raspagem = datetime.datetime.now().date() # puxando as datas
dia_de_raspagem = dia_de_raspagem.strftime("_%d_%m_%Y") # definindo o formatado da data
dt_test.to_csv(f"planilhas/teste{dia_de_raspagem}.csv", index=False) # exportando como arquivo csv

# Etapa 3: Exploração de Algoritmos de Aprendizado de Máquina

# Etapada 4: Avaliação e Interpretação dos Resultados