In [25]:
# Realizando as importações das bibliotecas necessárias
import pandas as pd # Para o tratamento de dados
import numpy as np # Para o tratamento de dados
import cfscrape # Para realizar a requisição na raspagem de dad
import requests

In [26]:
url = "https://www.fundsexplorer.com.br/ranking"

In [27]:
from selenium import webdriver
from selenium.webdriver.common.by import By

# Inicializa o navegador
driver = webdriver.Chrome()  # Certifique-se de ter o ChromeDriver instalado


# Abre a página no navegador
driver.get(url)

# Abre a página no navegador
driver.get(url)

# Encontra a tabela pelo seu seletor CSS ou XPath
tabela_element = driver.find_element(By.CSS_SELECTOR, 'table')

# Obtém o código HTML da tabela
codigo_html = tabela_element.get_attribute('outerHTML')

# Imprime o código HTML da tabela
# print(codigo_html)

# Fecha o navegador
driver.quit()

In [28]:
# Lendo a tabela HTML como um dataframe do Pandas

# O código gera uma lista das tabelas encontradas no HTML, sendo as tabelas representadas como dataframes
# basta indicar o índice da tabela para acessá-la
dt = pd.read_html(codigo_html)[0]

In [60]:
# Criando um cópia do dataset original para o tratamento de dados
dt_test = dt.copy()

In [61]:
# Visualizando os dados do dataset
dt_test.head()

,Fundos,Setor,Preço Atual (R$),Liquidez Diária (R$),P/VP,Último Dividendo,Dividend Yield,DY (3M) Acumulado,DY (6M) Acumulado,DY (12M) Acumulado,...,Patrimônio Líquido,VPA,P/VPA,DY Patrimonial,Variação Patrimonial,Rentab. Patr. Período,Rentab. Patr. Acumulada,Vacância Física,Vacância Financeira,Quant. Ativos
0,AAZQ11,Indefinido,935,"815.428,21",101,012,"1,28 %","3,66 %","7,98 %","9,54 %",...,"230.646.828,88",960,97.0,"1,46 %","0,00 %","0,00 %","0,00 %",NaN,NaN,0
1,ABCP11,Shoppings,7225,"48.644,67",079,050,"0,70 %","2,12 %","4,39 %","8,89 %",...,"432.162.687,00",9182,79.0,"0,65 %","-0,18 %","0,47 %","7,12 %",NaN,NaN,1
2,AFHI11,Papéis,9680,"1.578.741,03",101,105,"1,07 %","3,30 %","6,75 %","13,08 %",...,"290.388.018,85",9482,102.0,"1,01 %","-0,94 %","0,06 %","5,00 %",NaN,NaN,0
3,AGRX11,Outros,1058,"362.002,67",NaN,012,"1,08 %","4,19 %","8,99 %","15,78 %",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,AIEC11,Lajes Corporativas,7179,"659.991,79",076,076,"1,06 %","3,37 %","7,10 %","13,13 %",...,"456.469.305,49",10256,70.0,"0,73 %","0,24 %","0,98 %","9,40 %",NaN,NaN,2

In [62]:
# Observando as informações dos dados do Dataframe para identificar as limpezas necessárias
dt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fundos                   390 non-null    object
 1   Setor                    390 non-null    object
 2   Preço Atual (R$)         363 non-null    object
 3   Liquidez Diária (R$)     353 non-null    object
 4   P/VP                     345 non-null    object
 5   Último Dividendo         390 non-null    object
 6   Dividend Yield           372 non-null    object
 7   DY (3M) Acumulado        372 non-null    object
 8   DY (6M) Acumulado        372 non-null    object
 9   DY (12M) Acumulado       372 non-null    object
 10  DY (3M) média            372 non-null    object
 11  DY (6M) média            372 non-null    object
 12  DY (12M) média           372 non-null    object
 13  DY Ano                   371 non-null    object
 14  Variação Preço           372 non-null    object
 15  Rentab. Período          372 non-null    object
 16  Rentab. Acumulada        286 non-null    object
 17  Patrimônio Líquido       367 non-null    object
 18  VPA                      297 non-null    object
 19  P/VPA                    290 non-null    float64
 20  DY Patrimonial           297 non-null    object
 21  Variação Patrimonial     297 non-null    object
 22  Rentab. Patr. Período    297 non-null    object
 23  Rentab. Patr. Acumulada  297 non-null    object
 24  Vacância Física          0 non-null      float64
 25  Vacância Financeira      0 non-null      float64
 26  Quant. Ativos            390 non-null    int64
dtypes: float64(3), int64(1), object(23)
memory usage: 82.4+ KB

In [63]:
# Visualizando o nome das colunas
dt_test.columns

Index(['Fundos', 'Setor', 'Preço Atual (R$)', 'Liquidez Diária (R$)', 'P/VP',
       'Último Dividendo', 'Dividend Yield', 'DY (3M) Acumulado',
       'DY (6M) Acumulado', 'DY (12M) Acumulado', 'DY (3M) média',
       'DY (6M) média', 'DY (12M) média', 'DY Ano', 'Variação Preço',
       'Rentab. Período', 'Rentab. Acumulada', 'Patrimônio Líquido', 'VPA',
       'P/VPA', 'DY Patrimonial', 'Variação Patrimonial',
       'Rentab. Patr. Período', 'Rentab. Patr. Acumulada', 'Vacância Física',
       'Vacância Financeira', 'Quant. Ativos'],
      dtype='object')

In [64]:
# Removendo colunas não desejáveis
dt_test.drop(columns=['DY (3M) Acumulado', 'DY (6M) Acumulado', 'DY (3M) média', 'DY (6M) média'], inplace=True)

In [65]:
# Visualizando o nome das colunas
dt_test.columns

Index(['Fundos', 'Setor', 'Preço Atual (R$)', 'Liquidez Diária (R$)', 'P/VP',
       'Último Dividendo', 'Dividend Yield', 'DY (12M) Acumulado',
       'DY (12M) média', 'DY Ano', 'Variação Preço', 'Rentab. Período',
       'Rentab. Acumulada', 'Patrimônio Líquido', 'VPA', 'P/VPA',
       'DY Patrimonial', 'Variação Patrimonial', 'Rentab. Patr. Período',
       'Rentab. Patr. Acumulada', 'Vacância Física', 'Vacância Financeira',
       'Quant. Ativos'],
      dtype='object')

In [66]:
# Modificando os nomes das colunas para um padrão mais usual de se trabalhar
dt_test.columns = ['fundos', 'setor', 'preco', 'liquidez_diaria', 'p_sobre_vp',
                   'ultimo_dividendo', 'dividend_yield', "dy_12m_acumulado", "dy_12m_media",
                   'dy_year', "variacao_preco", 'rent_periodo', 'rent_acumulada', "patrimonio_liq",
                   "vpa", 'p_sobre_vpa', 'dy_patrimonial', 'variação_patrimonial',
                   'rentab_patr_periodo', 'rentab_patr_acumulada', 'vacancia_fisica',
                   'vacancia_financeira', 'quant_ativos']

In [67]:
# Para um tratamento uniforme em todos os dados será preciso modificar o tipo da coluna p_sobre_vpa para o tipo String
dt_test.p_sobre_vpa = dt_test.p_sobre_vpa.astype(str)

In [68]:
# Modificando os valores numéricos do dataset
# Vamos remover o ponto, a vírgula, transformar em dados do tipo float
# e como todos os dados possuem duas casas decimais, basta dividir por 100
for col in ['preco', 'liquidez_diaria', 'p_sobre_vp', "ultimo_dividendo", "patrimonio_liq", "vpa", "p_sobre_vpa"]:
    dt_test[col] = dt_test[col].str.replace(".","", regex=True)
    dt_test[col] = dt_test[col].str.replace(",","", regex=True)
    dt_test[col] = dt_test[col].astype(float)
    dt_test[col] = dt_test[col].apply(lambda x: x/100)

In [70]:
# Modificando os valores percentuais do dataset
# De maneira análoga, vamos remover ponto, vírgula e o sinal de porcentagem
# Ao invés de dividir apenas por 100, pois todos possuem duas casas decimais
# Vamos dividir por 10000, pois os valores são em porcentagem, basicamente
# as transformações são /100 para duas casas e /100 para percentual, logo /10000
for col in ['dividend_yield', "dy_12m_acumulado", "dy_12m_media", 'dy_year', "variacao_preco", "rent_periodo", "rent_acumulada",
            "dy_patrimonial", 'variação_patrimonial','rentab_patr_periodo', 'rentab_patr_acumulada']:
    dt_test[col] = dt_test[col].str.replace(".","", regex=True)
    dt_test[col] = dt_test[col].str.replace(",","", regex=True)
    dt_test[col] = dt_test[col].str.replace("%","", regex=True)
    dt_test[col] = dt_test[col].astype(float)
    dt_test[col] = dt_test[col].apply(lambda x: x/10000)

In [71]:
# Tornando valores do tipo NaN em zero
dt_test = dt_test.fillna(0)

In [72]:
# Visualizando os dados
dt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fundos                 390 non-null    object
 1   setor                  390 non-null    object
 2   preco                  390 non-null    float64
 3   liquidez_diaria        390 non-null    float64
 4   p_sobre_vp             390 non-null    float64
 5   ultimo_dividendo       390 non-null    float64
 6   dividend_yield         390 non-null    float64
 7   dy_12m_acumulado       390 non-null    float64
 8   dy_12m_media           390 non-null    float64
 9   dy_year                390 non-null    float64
 10  variacao_preco         390 non-null    float64
 11  rent_periodo           390 non-null    float64
 12  rent_acumulada         390 non-null    float64
 13  patrimonio_liq         390 non-null    float64
 14  vpa                    390 non-null    float64
 15  p_sobre_vpa            390 non-null    float64
 16  dy_patrimonial         390 non-null    float64
 17  variação_patrimonial   390 non-null    float64
 18  rentab_patr_periodo    390 non-null    float64
 19  rentab_patr_acumulada  390 non-null    float64
 20  vacancia_fisica        390 non-null    float64
 21  vacancia_financeira    390 non-null    float64
 22  quant_ativos           390 non-null    int64
dtypes: float64(20), int64(1), object(2)
memory usage: 70.2+ KB

In [73]:
# Exporta o DataFrame para um arquivo Excel
dt_test.to_excel('fundsexplorer_17_08_2023.xlsx', index=False)

# Ou exporta o DataFrame para um arquivo CSV
dt_test.to_csv('fundsexplorer_17_08_2023.csv', index=False)